@model ProductListViewModel
@{
	ViewData["Title"] = _phrase["General", "HomePageTitle"];
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<main id="MainContent" class="content-for-layout">
	<div class="collection mt-100">
		<div class="container">
			<div class="row flex-row-reverse">
				<!-- product area start -->
				<div class="col-lg-9 col-md-12 col-12">
					<div class="filter-sort-wrapper d-flex justify-content-between flex-wrap">
						<div class="collection-title-wrap d-flex align-items-end">
							<h2 class="collection-title heading_24 mb-0">All products</h2>
							<p class="collection-counter text_16 mb-0 ms-2">(@Model.ProductsCount items)</p>
						</div>
						<div class="filter-sorting">
							<div class="collection-sorting position-relative d-none d-lg-block">
								<div class="sorting-header text_16 d-flex align-items-center justify-content-end">
									<span class="sorting-title me-2">Sort by:</span>
									<span class="active-sorting">@_phrase["Product",Model.OrderBy]</span>
									<span class="sorting-icon">
										<svg class="icon icon-down" xmlns="http://www.w3.org/2000/svg"
											 width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="currentColor" stroke-width="2" stroke-linecap="round"
											 stroke-linejoin="round" class="feather feather-chevron-down">
											<polyline points="6 9 12 15 18 9"></polyline>
										</svg>
									</span>
								</div>
								<ul class="sorting-lists list-unstyled m-0">
									@if (AppSettings.ProductView.SortByList != null)
										@foreach (SortListBase sortList in AppSettings.ProductView.SortByList)
										{
											<li><a href="?sortBy=@sortList.Column&order=@sortList.Order" class="text_14">@_phrase["Product", sortList.Phrase]</a></li>
										}
								</ul>
							</div>
							<div class="filter-drawer-trigger mobile-filter d-flex align-items-center d-lg-none">
								<span class="mobile-filter-icon me-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
										 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
										 stroke-linecap="round" stroke-linejoin="round" class="icon icon-filter">
										<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
									</svg>
								</span>
								<span class="mobile-filter-heading">Filter and Sorting</span>
							</div>
						</div>
					</div>
					<div class="collection-product-container">
						<div class="row">
							@foreach(Product product in Model.Products)
							{
								<partial name="_ProductCard" for="@product" render-mode="ServerPrerendered" />
							}
						</div>
					</div>
					<!-- pagination -->
					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center mt-100">
							@if (Model.PreviousPage != 0)
							{
								<li class="page-item">
									<a class="page-link" href="@Url.Action(null, null, new { page = Model.PreviousPage, sortBy = ViewBag.sortBy ?? null, order = ViewBag.order ?? null })">Previous</a>
								</li>
							}
							else
							{
								<li class="page-item disabled">
									<a class="page-link">Previous</a>
								</li>
							}
							@for (var i = 1; i <= Model.TotalPages; i++)
							{
									@if (Model.CurrentPage == i)
									{
									<li class="page-item active" aria-current="page">
											<span class="page-link ">
												@i
											</span>
										</li>
									}
									else
									{
										<li class="page-item">
											<a class="page-link" href="@Url.Action(null, null, new { page = i, sortBy = ViewBag.sortBy ?? null, order = ViewBag.order ?? null })">
												@i
											</a>
										</li>
									}
							}
							@if (Model.NextPage != 0)
							{
								<li class="page-item">
									<a class="page-link" href="@Url.Action(null, null, new { page = Model.NextPage, sortBy = ViewBag.sortBy ?? null, order = ViewBag.order ?? null })">Next</a>
								</li>
							}
							else
							{
								<li class="page-item disabled">
									<a class="page-link">Next</a>
								</li>
							}
						</ul>
					</nav>

				</div>
				<!-- product area end -->
				<!-- sidebar start -->
				<div class="col-lg-3 col-md-12 col-12">
					<div class="collection-filter filter-drawer">
						<div class="filter-widget d-lg-none d-flex align-items-center justify-content-between">
							<h5 class="heading_24">
								Filter By</h4>
								<button type="button" class="btn-close text-reset filter-drawer-trigger d-lg-none"></button>
						</div>

						<div class="filter-widget d-lg-none">
							<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom"
								 data-bs-toggle="collapse" data-bs-target="#filter-mobile-sort">
								<span>
									<span class="sorting-title me-2">Sort by:</span>
									<span class="active-sorting">Featured</span>
								</span>
								<span class="faq-heading-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
										 viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
										 stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
										<polyline points="6 9 12 15 18 9"></polyline>
									</svg>
								</span>
							</div>
							<div id="filter-mobile-sort" class="accordion-collapse collapse show">
								<ul class="sorting-lists-mobile list-unstyled m-0">
								@if (AppSettings.ProductView.SortByList != null)
									@foreach (SortListBase sortList in AppSettings.ProductView.SortByList)
										{
											<li><a href="#" class="text_14">@_phrase["Product", sortList.Phrase]</a></li>
										}
								</ul>
							</div>
						</div>
						<div class="filter-widget">
							<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom"
								 data-bs-toggle="collapse" data-bs-target="#filter-collection">
								Categories
								<span class="faq-heading-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
										 viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
										 stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
										<polyline points="6 9 12 15 18 9"></polyline>
									</svg>
								</span>
							</div>
							<div id="filter-collection" class="accordion-collapse collapse show">
								<ul class="filter-lists list-unstyled mb-0">
									@if (CommonHelpers.Categories != null)
										@foreach (Category category in CommonHelpers.Categories)
										{
											<li class="filter-item">
												<label class="filter-label">
													<input type="checkbox" class="form-check" />&nbsp;
													<span class="filter-checkbox rounded me-2"></span>
													<span class="filter-text" data-category-id="@category.Id">@category.Name</span>
												</label>
											</li>
										}
								</ul>
							</div>
						</div>
						<div class="filter-widget">
							<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom"
								 data-bs-toggle="collapse" data-bs-target="#filter-price">
								Price
								<span class="faq-heading-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
										 viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2"
										 stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
										<polyline points="6 9 12 15 18 9"></polyline>
									</svg>
								</span>
							</div>
							<div id="filter-price" class="accordion-collapse collapse show">
								<div class="filter-price d-flex align-items-center justify-content-between">
									<div class="filter-field">
										<input class="form-control" type="number" placeholder="$0" min="0"
											   max="2000.00">
									</div>
									<div class="filter-separator px-3">To</div>
									<div class="filter-field">
										<input class="form-control" type="number" min="0" placeholder="$595.00"
											   max="2000.00">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- sidebar end -->
			</div>
		</div>
	</div>
</main>